.content-center {
  display: grid;
  place-content: center;
  gap: 1ch;
}

.btn {
    background-color: blueviolet;
    border-radius: 3px;
    color: white;
    height: 3rem;
    width: 3rem;
    margin: 1rem;
}

p {
  font-size: x-large;
}
